.contact-nav {
    @extend .list;
    
    display: flex;   
    flex-direction: column;
    margin-left: auto;

    font-size: 12px;
   

    @media screen and (max-width: 767px) {
        display: none;    
    }


    @media screen and (min-width: 1200px) {
       flex-direction: row;
       gap: 30px;
    }
    

}

.contact-nav__item:first-of-type {
    @media  screen and (max-width: 1199px) {
        margin-bottom: 10px;
    }

}

.contact-nav__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: inherit;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (max-width: 1199) {
        text-align: end;
    
    }

    // @media screen and (max-width: 767px) {
    //     font-size: 34px;
    //     line-height: 1.2;

    //     &:last-child {
    //         font-size: 14px;
    //     }
    // }
}

.contact-nav__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-nav__link:hover &,
    .contact-nav__link:focus & {
        fill: var(--accent-color);
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}


// Ссылки на соц-сети в навигации мобильной версии

.network-mobile {
    position: absolute;
    bottom: 48px;
    display: flex;
    flex-direction: row;

    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
        display: none; 
    }
}

.network-mobile__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 10px;

    &:last-child {
        border-right: none;
    }

    &:first-child {
        padding-left: 0;
    }
}

.network-mobile__link {
    color: var(--accent-color);
    
    &:hover,
    &:focus {
        cursor: pointer;
    }
}