.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    align-content: center;

    color: var(--hero-text-color);
    background-color: var(--bgc-temporary-color);
}

.footer-info {
  
    @media screen and (min-width: 1200px) {
        display: flex;  
        align-items: baseline;
    }
}

.footer-info__location-soc {
    display: block;

    @media screen and (min-width: 768px) {
       display: flex;
       justify-content: space-around; 
       align-items: baseline;
    }
}

.contacts {
    @extend .list;
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }   
}

.contact-box {
    display: inline-flex;
    align-items: baseline;
    gap: 70px;
}

.contacts__link {
    text-decoration: none;
    font-style: normal;
    line-height: 1.7;

    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--white {
        color: var(--hero-text-color);
    }

    &:hover,
    &:focus {
        color: var(--accent-color); 
    }
}

.contacts__item {
    padding-left: 0;
    margin-bottom: 8px;

    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }

    &:last-child {
        margin-bottom: 60px;
        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
    }
}
