.subscribe {
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.subscribe__field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}    

.subscribe__input {
    width: 450px;
    height: 50px;

    padding: 15px 16px;

    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: var(--form-text-color);
    background-color: var(--bgc-temporary-color);

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
}

.subscribe__field::placeholder {
    color: var(--form-text-color);
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.subscribe__btn {
    padding: 10px 28px;
    margin: 0;
}

.subscribe__send-icon {
    margin-left: 10px;
    fill: var(--hero-text-color);
}