.menu-container {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--hero-text-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--title-text-color);
}

.site-nav-mobile {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-nav-mobile__link.current {
    color: var(--accent-color);
}

.site-nav-mobile__item {
    margin-bottom: 32px;
}

.site-nav-mobile__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav-box-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-nav-mobile {
    margin-bottom: 134px;
}

.contact-nav-mobile__item:not(:last-child) {
    margin-bottom: 32px;
}

.phone-mobile {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    color: var(--accent-color);
}

.email-mobile {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
}