.card-set {
    display: block;
    // flex-wrap: wrap;

    padding: 0;
    margin: 0;

    // margin-right: calc(-1 * var(--portfolio-item-gap));

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.card-set__item {
    width: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        width: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 60px) / 3);
        
        &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
         margin-bottom: 0;
    }
}
}
