.site-nav__link.current {
    color: var(--accent-color);
}

.site-nav__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }

    

    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
        
        &:last-child {
          margin-bottom: 302px;
        }  
    }

}

.current::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.site-nav {
    @extend .list;
    display: flex;

    color: var(--title-text-color);

    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;

        font-size: 40px;
        line-height: 1.2;
    }
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
         color: var(--accent-color);
    }

    @media screen and (max-width: 767px) {
        padding: 0;
    }
}
