.site-nav__link.current {
    color: var(--accent-color);
}

.site-nav__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.current::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);
}

.site-nav {
    @extend .list;
    display: flex;

    color: var(--title-text-color);

    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
         color: var(--accent-color);
    }
}
