:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --hero-button-active: #188CE8;
    --hero-text-color: #fff;
    --bgc-secondary-color: #f5f4fa;
    --bgc-temporary-color: #2f303a;
    --icon-main-color: #afb1b8;
    --footer-icon-bgc-color: rgba(255, 255, 255, 0.1);
    --form-text-color: rgba(255, 255, 255, 0.6);
    --portfolio-item-gap: 30px;
    --input-color: rgba(33, 33, 33, 0.2);
    --textarea-color: rgba(117, 117, 117, 0.5);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    background-color: #fff;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: var(--title-text-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

